div{
    text-align: center;
}

table{
    display: inline-block;
}
.name{
    color: rgb(117, 117, 117);
    font-style: oblique;
}
.number{
    color: rgb(20, 155, 110);
    font-style: italic;
}
h2{
    color: mediumvioletred;
}